@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Blog
<div class="card-body">
    <h4 class="card-title">Basic form elements</h4>

    <p class="card-description">
        Basic form elements
    </p>
    <form class="forms-sample" method="post" enctype="multipart/form-data">

        <div class="form-group">

            <label asp-for="Title" asp-action="Index"></label>
            <input asp-for="Title" class="form-control" placeholder="Title">
            <span asp-validation-for="Title"></span>
        </div>

        <div class="form-group">

            <label asp-for="Description" asp-action="Index"></label>
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageFile"></label>
            <input asp-for="ImageFile" class="form-control" placeholder="Image">
        </div>



        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>

    </form>
</div>

